.background{
    background-color: rgb(77, 77, 77);
    background-size: cover;
    padding: 1px;
    display: flex;
    height: 60px;
    display: flex;
    flex-direction: row;
}

h1{
    color: white;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 20px;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 5px;
}

.headerElements{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    gap: 15px;
    right: 0px;
    padding: 20px 30px;  
}

.header-boton{
    color: white;
    text-decoration: none;
    font-size: large;

}

.header-boton:hover{
    text-decoration: underline;
}