<app-header></app-header>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

<div class="background">
    <div class="main">
        <div class="square">
            <div id="tabla">
                <div id="headertabla">
                    <div>N°</div>
                    <div>Disponibilidad</div>
                    <div>Ingreso</div>
                    <div>Acciones</div>
                </div>

                @for (fila of filas; track $index) {
                <div>
                    <div>{{$index+1}}</div>

                    <div>
                        @if (fila.activo) {
                        <p class="patente" (click)="cerrarModalEstacionamiento(fila.id, fila.activo.patente)">{{
                            fila.activo.patente }}</p>
                        } @else if (fila.deshabilitada) {
                        <div (click)="ModalNoDisponible()"><span class="ocupado">No disponible</span></div>
                        } @else {
                        <div (click)="abrirModalEstacionamiento(fila.id)"><span class="disponible">Disponible</span>
                        </div>
                        }
                    </div>

                    <div>{{ fila.activo?.horaIngreso }}</div>

                    <div class="acciones-container">
                        <i [ngClass]="fila.deshabilitada ? 'bx bx-block' : 'bx bx-calendar-check'"
                            (click)="cambiarDisponibilidadCochera($index); $event.stopPropagation()"></i>
                        <i class="bx bx-trash" (click)="eliminarFila(fila.id); $event.stopPropagation()"></i>
                    </div>
                </div>
                }
            </div>
        </div>

        <button (click)="agregarFila()" class="boton-aF">+</button>

    </div>
</div>