<app-header></app-header>
<div class="background">

    <div class="square">

        <div id="tabla-reportes">
            <div id="headertabla-reportes">
                <div>{{headerR.numero}}</div>
                <div>{{headerR.mes}}</div>
                <div>{{headerR.usos}}</div>
                <div>{{headerR.cobrado}}</div>
            </div>

            @for (reporte of reportes; track $index){
            <div class="fila">
                <div>{{$index+1}}</div>
                <div>{{reporte.mes}}</div>
                <div>{{reporte.usos}}</div>
                <div>{{reporte.cobrados}}</div>
            </div>
            }
        </div>
    </div>
</div>